x-airflow-common:
  &airflow-common
  # FIX: Change the build context
  build:
    context: .
    dockerfile: ./docker/airflow/Dockerfile
  environment:
    - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    - AIRFLOW__CORE__LOAD_EXAMPLES=False
    - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
    - AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL=10
  volumes:
    - ./dags:/opt/airflow/dags
    - ./mlruns:/opt/airflow/mlruns
    - ./data:/opt/airflow/data
    - ./src:/opt/airflow/src
    - ./Makefile:/opt/airflow/Makefile
  depends_on:
    - mlflow

services:
  mlflow:
    image: python:3.10-slim
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlruns
    command: >
      sh -c "pip install mlflow && 
             mlflow server 
             --host 0.0.0.0 
             --port 5000 
             --backend-store-uri /mlruns"

  airflow-webserver:
    <<: *airflow-common
    command: airflow webserver -p 8080
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5

  airflow-scheduler:
    <<: *airflow-common
    command: airflow scheduler
    healthcheck:
      test: ["CMD-SHELL", "airflow jobs check --job-type SchedulerJob --hostname $$(hostname)"]
      interval: 10s
      timeout: 10s
      retries: 5

  airflow-init:
    <<: *airflow-common
    command: >
      sh -c "
        airflow db init && 
        airflow users create -u admin -p admin -r Admin -e admin@example.com -f Admin -l User &&
        airflow variables set 'PROJECT_ROOT' '/opt/airflow'
      "